body {
  margin: 0;
  background-color: #E6E6E6 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.palanquin {
  font-family: 'Palanquin' !important;
}

.nunito-sans {
  font-family: 'Nunito Sans' !important;
}

.archivo-narrow {
  font-family: 'Archivo Narrow' !important;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 165px;
  height: 50px;
  font-weight: bold !important;
  border-radius: 15px !important;
}

.full-btn {
  background: #5653A8 !important;
  border: solid 3px #5653A8 !important;
}

.full-btn:hover {
  color: #5653A8 !important;
  background: none !important;
  border: solid 3px #5653A8 !important;
}

.empty-btn {
  color: #5653A8 !important;
  background: none !important;
  border: solid 3px #5653A8 !important;
}

.empty-btn:hover {
  color: #E6E6E6 !important;
  background: #5653A8 !important;
  border: solid 3px #5653A8 !important
}