.illustration-img {
  width: 100%;
  transform: translateY(50px);
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, white 20%);
  mask-image: linear-gradient(to top, transparent 5%, white 20%);
}